body {
  margin: 0;
}

.trainingStyle {
  background: #ff4242;
}

.restStyle {
  background: lightskyblue;
}

main {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.totalTimeWindow {
  width: 300px;
  margin: 20px auto;
  padding: 20px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #eee;
}

h1, h2 {
  margin: 0 0 20px 0;
}

p {
  font-size: 36px;
  margin: 0;
}

.setTimeWindow {
  width: 680px;
  margin: 50px auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trainingTimeWindow {
  width: 300px;
  padding: 20px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #eee;
}

.restTimeWindow {
  width: 300px;
  padding: 20px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #eee;
}

#s_btn {
  width: 250px;
  height: 80px;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin: 60px 20px;
  font-size: 20px;
}

#s_btn:hover {
  cursor: pointer;
}

#s_btn:disabled {
  cursor: auto;
}

#e_btn {
  width: 250px;
  height: 80px;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin: 60px 20px;
  font-size: 20px;
}

#e_btn:hover {
  cursor: pointer;
}

#e_btn:disabled {
  cursor: auto;
}